/node_modules
/public/hot
/public/storage
/vendor
/storage/*.key
/version
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log



/public/uploads/bglogin.jpg
/public/uploads/favicon.png
/public/uploads/logo.png
/public/uploads/logo-color.png
/public/uploads/logo-login.png
/public/uploads/logoSystem.png
/public/uploads/logo-white.png
/public/uploads/admin_image/*.jpg
/public/uploads/attendance/qrcodes/*.jpg
/public/uploads/complaints/students/*.jpg
/public/uploads/complaints/doctors/*.jpg
/public/uploads/exams/signature/*.jpg
/public/uploads/forum/*.jpg
/public/uploads/heritageBooks/*.jpg
/public/uploads/homework/*.jpg
/public/uploads/homework/submission/*.jpg
/public/uploads/import/*.jpg
/public/uploads/print/excel/*.jpg
/public/uploads/slider/*.png
/public/uploads/students/*.jpg
/public/uploads/teachers/*.jpg
/public/uploads/teachers/cv/*
/public/uploads/teachers/doctors/*.jpg
public/uploads/teachers/doctors/study_material/*
public/print/*.docx
/public/webpushr-sw.js
public/uploads/study_material
public/uploads/students/ID/*

